.audioUploadCard {
    display: flex;
    height: 30em;
    width: 30em;
    margin: 2em;
    flex-direction: column;
    border-radius: 2em;
    box-shadow: 3px 2px 10px 5px rgba(0, 0, 0, 0.2);
    background-color: #ffffff66;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-content: center;
    align-items: stretch;
}

.audioButton {
    margin: 0 1em;
    padding: 2em 5em;
    border-radius: 1em;
    border: none;
  }
  
  .audioButton:click {
    transform: scale(0.9);
    transition: 0.3s;
  }
  
  .audioButton:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);
  }

  .audioInput{
    margin-left: 4em;
    margin-right: 0em;
    border-radius: 1em;
    border: none;
  }

  .buttonAndProgressContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: visible;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 2em;
  }