
.cardContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  grid-gap: 1em;
  overflow: auto;
}
@media (max-width: 1500px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1000px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}